<% if (errors.lentgh > 0) { %>
    <div class="divErro">
        <div>
              <% for(let i = 0; i < errors.length; i++) { %>
                <li style="margin-bottom: 5px;"><%- errors[i] %></li>
              <% } %>
        </div>
    </div>

    <% } %>
    
    <% if (success.length > 0) {%>
    <div class="divSuccess">
          <div>
    
              <li> <%- success %> </li>
          </div>
    </div>
    <% } %>
    