<% if (user == null || user == 'undefined') { %>
<nav>
    <div class="logo"></div>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="">Produtos</a>
      </li>

      <li>
        <a href="">Sobre-nós</a>
      </li>
    </ul>

    <ul class="cantoUser">
      <li class="dropdown">
        <div class="logoUser"></div>
        <div class="dropdown-menu">
          <a href="/login" class="entrarButton">Entrar</a>
          <a href="/register" class="criarContaButton">Criar conta</a>
        </div>
      </li>
    </ul>
  </nav>
  <% } else { %>
    
    <nav>
      <div class="logo"></div>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
  
        <li>
          <a href="">Produtos</a>
        </li>
  
        <li>
          <a href="">Sobre-nós</a>
        </li>
      </ul>
  
      <ul class="cantoUserLogado">
        <li class="dropdownLogado">
          <div class="logoUser"></div>
          <div class="dropdown-menu-logado">
            <a href="/" class="nameUserButton"> <div class="logoUserLogado"></div> <%= userInfo.data.name %></a>
            <a href="/alterarDados" class="userSettingsButton"> <div class="logoUserSettings"> </div>Alterar dados</a>
            <a href="/logout" class="userLogoutButton"><div class="logoLogoutUser"></div> Logout</a>
          </div>
        </li>
      </ul>
    </nav>


    <nav class="menuMobile">

    </nav>

  <% } %>