<nav>
    <div class="logo"></div>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="">Produtos</a>
      </li>

      <li>
        <a href="">Sobre-nós</a>
      </li>
    </ul>

    <ul class="cantoUser">
      <li class="dropdown">
        <div class="logoUser"></div>
        <div class="dropdown-menu">
          <a href="/login" class="entrarButton">Entrar</a>
          <a href="/register" class="criarContaButton">Criar conta</a>
        </div>
      </li>
    </ul>
  </nav>