<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
    <link rel="stylesheet" href="./assets/css/styleAdm.css">
</head>
<body>
    <div class="top-menu">
        <a href="/administrativePanel">Painel Administrativo</a>

        <ul>
            <li class="dropdown">
                <div class="logoUser"></div>
                <div class="dropdown-menu">
                    <a href="">Entrar</a>
                    <a href="">Sair</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="abaixo">
        <nav>
            <span>MENU</span>

            <ul>
                <li>
                    <a href="">Usuários</a>
                </li>

                <li>
                    <a href="">Produtos</a>
                </li>

                <li>
                    <a href="">Configurações</a>
                </li>
            </ul>
        </nav>
        <main>a</main>
    </div>

    
    
</body>
</html>