<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
    <link rel="stylesheet" href="./assets/css/styleAdm.css">
</head>
<body>


<div class="top-menu">
    <div class="logo"></div>
    <div class="titulo" background-color: yellow;">Painel Administrativo</div>
    <div></div>
    
    
</div>

<div class="teste-grid">

<div class="menu-lateral">

    <li><a href="">Usuários</a></li>
    <li><a href="">Produtos</a></li>
    <li><a href="">Configurações</a></li>

</div>

    <main>
       <div class="qtdUsers">Usuários cadastrados</div>
       <div class="qtdVisitors">Quantidade de visitantes</div>
       <div class="qtsPages">Quantidade de páginas</div>
       <div class="qtdPosts">Quantidade de posts</div>
    </main>
</div>
</body>
</html>