<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/styleAlterarSenha.css"/>
</head>
<body>

    <%- include('includes/navbar') %>

    <main>
        <div class="divRecSenha">         
            <div class="formAlterarSenha">
                
                <form action="/recuperar-senhaUser" method="POST">
                    <h2 style="text-align: center; margin-top: 5px; letter-spacing: 1px; color: white; font-weight: 300px;">Alterar Senha</h2>

                    <%- include('includes/messages') %>
                    
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="password" name="email" placeholder="Digite sua nova senha" required> <br>
                    <input type="password" placeholder="Confirme sua senha" required>
                    <button>Alterar senha</button>
                </form>
            </div>
        </div>
    </main>
    
    <script src="./assets/js/bundle.js"></script>
</body>
</html>